<h1>Chapter 1 Python</h1>

In [31]:
num1 = int(input("First number:"))
num2 = int(input("Second number:"))

addition = num1 + num2
subtraction = num1 - num2
multiplication = num1 * num2
division = num1/num2

print(f"The result of the operation for {num1} and {num2}")
print(f"Addition:{addition}")
print(f"Subtration:{subtraction}")
print(f"Multiplicartion:{multiplication}")
print(f"Division:{division}")

First number: 50
Second number: 50

The result of the operation for 50 and 50
Addition:100
Subtration:0
Multiplicartion:2500
Division:1.0

In [63]:
celcius = float(input("temperature"))
fahrenheit = (celcius * 9/5) + 32
print(f"{fahrenheit}")

temperature 21

69.8

In [59]:
# Get input from the user and convert to float for calculations
basic_salary = float(input("Enter basic salary: "))
allowances = float(input("Enter allowances: "))
deductions = float(input("Enter deductions: "))

# Calculate net monthly salary
net_salary = basic_salary + allowances - deductions

# Display the result
print(f"Net Monthly Salary: {net_salary}")

Enter basic salary:  2000
Enter allowances:  200
Enter deductions:  300

Net Monthly Salary: 1900.0

In [82]:
# Get user input
loan_amount = float(input("Loan amount: "))
annual_interest_rate = float(input("Annual interest rate (in %): "))
loan_tenure_years = float(input("Loan tenure (in years): "))

# Convert annual interest rate to monthly and tenure to months
monthly_interest_rate = annual_interest_rate / 100 / 12
loan_tenure_months = loan_tenure_years * 12

# Calculate EMI (monthly installment)
monthly_installment = (loan_amount * monthly_interest_rate * (1 + monthly_interest_rate) ** loan_tenure_months) / \
                      ((1 + monthly_interest_rate) ** loan_tenure_months - 1)

# Calculate total interest payable
total_interest = (monthly_installment * loan_tenure_months) - loan_amount

# Output results
print(f"Monthly Installment (EMI): {monthly_installment:.2f}")
print(f"Total Interest Payable: {total_interest:.2f}")

Loan amount:  20000
Annual interest rate (in %):  3.1
Loan tenure (in years):  20

Monthly Installment (EMI): 111.92
Total Interest Payable: 6861.61